<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% if object_list %}
    {% for diary_entry in object_list %}
      <div class="col">
        <div class="card shadow-sm rounded-3">
          {% if diary_entry.image %}
            <img src="{{ diary_entry.image | media_filter }}" style="width: 150px; height: 150px; object-fit: cover;">
          {% else %}
            Нет картинки
            <img style="width: 150px; height: 150px; object-fit: cover;">
          {% endif %}
          <div class="card-body">
            <p class="card-text">Заголовок записи: {{ diary_entry.title }}</p>
            <p class="card-text">Создано: {{ diary_entry.created_at }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-primary btn-sm" href="{% url 'diary:entry_detail' diary_entry.pk %}" role="button">
                  <i class="bi bi-eye"></i> Посмотреть
                </a>
                <a class="btn btn-warning btn-sm" href="{% url 'diary:entry_update' diary_entry.pk %}" role="button">
                  <i class="bi bi-pencil"></i> Редактировать
                </a>
                <a class="btn btn-danger btn-sm" href="{% url 'diary:entry_delete' diary_entry.pk %}" role="button">
                  <i class="bi bi-trash"></i> Удалить
                </a>
              </div>
            </div>
            <small class="text-body-secondary">Обновлено: {{ diary_entry.updated_at }}</small>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>Записей не найдено.</p>
  {% endif %}
</div>
