SECRET_KEY=ogyyex)-n-m9i)o94gvh#&)nx+-h$wldc0=2a&$t0j4i_9dg+n
DEBUG=True

admin@example.com

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=12345678
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False

POSTGRES_DB=MD
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_HOST=localhost
POSTGRES_PORT=5432