{% extends 'diary/base.html' %}
{% block content %}
<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="row justify-content-center w-100">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm border-light rounded-3" style="position: fixed; top: 60%; left: 50%; transform: translate(-50%, -50%); max-width: 300px;">
                <div class="card-header text-center">
                    <h4 class="fw-bold">Восстановление пароля</h4>
                </div>
                <div class="card-body">
                    {% if error %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="email">Email адрес</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary btn-lg rounded-pill w-100">
                                Восстановить пароль
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}